
@{
    @ViewBag.Title;
}


<!-- ======= Testimonials Section ======= -->
@*<div class="section-title">*@


<section id="Favorites">

    <div class="section-title">
        <h2>Favorites</h2>
        <p>Some of my Banjo Favorites</p>
    </div>

    <section class="dark">
        <div class="container py-4">
            @*<h1 class="h1 text-center" id="pageHeaderTitle">My Cards Dark</h1>*@

         
            <article class="postcard dark red">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img img-responsive" src="~/Content/assets/img/clients/RickyMeir.jpg"   alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title red"><a href="#">Ricky Mier</a></h1>
                    <div class="postcard__subtitle small">
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Ricky Mier has provided a lot of inspiration for me over the last couple of years.  His YouTube channel is not only full of amazing banjo content ranging from beginner to expert levels of banjo playing.  Additionally, his teaching style is fun and keeps you interested!  He also provides online banjo instruction which I can only imagine, is as awesome as his channel!  Ricky has a Patreon with a lot of great content and tabs.</div>
                    </div>
                    <div class="postcard__bar"></div>
                    <br />
                    @*<div class="postcard__preview-txt">Ricky Mier has </div>*@
                    <ul class="postcard__tagbox">
                        
                        <li class="tag__item"> <a href="https://www.youtube.com/c/RickyMier/featured">Ricky Mier's YouTube channel</a>
                        <li class="tag__item"><a href="https://www.rickymier.com/">Ricky Mier's Website</a></li>


                    </ul>
                </div>
            </article>
            <article class="postcard dark green">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img img-responsive" src="~/Content/assets/img/clients/jp.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title green"><a href="#">Jim Pankey</a></h1>
                    <div class="postcard__subtitle small">
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Jim Pankey is a well loved and popular provider of content on YouTube for both new and experienced players alike.  He has a super friendly and approachable style of teaching that makes banjo learning feel super accessible.  His range of videos are from brand new beginner to seasoned player.  In the links below, you will find his website that has a Patreon and tabs available to buy.  </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"> <a href="https://www.youtube.com/channel/UCJv5sNGAeKx8hce2grI4hhQ">Jim Pankey's YouTube channel</a>
                        <li class="tag__item"><a href="https://linktr.ee/WildJimbo">Jim Pankey's Website</a></li>
                    </ul>
                </div>
            </article>
            <article class="postcard dark yellow">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title yellow"><a href="#">Noam Pikelney</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                        <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                        <li class="tag__item">
                            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

    
</section><!-- End Testimonials Section -->