@{
    @ViewBag.Title;
}

<!-- ======= Header ======= -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">

        <h1>Banjo for Beginners</h1>
        <h2>This is where your banjo journey starts!</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            @*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
        </div>
    </div>
</section>
<!-- End Hero -->

<section id="about" class="about">
    <div class="container" data-aos="fade-up">



        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
                <img src="~/Content/assets/img/Logo/mebanjo.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=MrPmKuE2mds" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">

                <h3 style="align-content:center" ; Style="font-size: 18px">What is the purpose of this website? </h3>
                <p class="fst-italic">

                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> Help new banjo players learn chords quickly</li>
                    <li><i class="bx bx-check-double"></i> Provide helpful links and information</li>
                    <li><i class="bx bx-check-double"></i> Help with transposing guitar chords to banjo chords</li>
                    @*<li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>*@
                </ul>
                <p>
                    When I first started to learn to play the banjo, I was overwhelmed by the amount of information out there.  I found it difficult at times to locate just what I needed.
                </p>
            </div>

        </div>

    </div>
</section>
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://www.deeringbanjos.com/" target="_blank">
                        <img src="~/Content/assets/img/Logo/Deering-Logo-Hunter-Green.jpg" class="img-fluid" alt="">
                    </a>
                </div>


                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://goldtonemusicgroup.com/goldtone/" target="_blank">
                        <img src="~/Content/assets/img/Logo/Goldtone.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://www.recordingking.com/" target="_blank">
                        <img src="~/Content/assets/img/Logo/RecordingKing.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://www.oscarschmidt.com/" target="_blank">
                        <img src="~/Content/assets/img/Logo/Oscar-Schmidt-Logo.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://www.sagamusic.com/" target="_blank">
                        <img src="~/Content/assets/img/Logo/saga.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://www.ibanez.com/usa/products/model/banjo/" target="_blank">
                        <img src="~/Content/assets/img/Logo/ibanez.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>

        </div>
    </section>
    <!-- End Clients Section -->
 
    <!-- ======= Services Section ======= -->
    <section id="BeginnerAdvice" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Beginner Advice</h2>
                <p>A few helpful hints I have learned along the way</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-6">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Practice Daily</a></h4>
                        <p>Challenge yourself to pick up your banjo at least once a day, even if its just for ten minutes.  The repetition will help your skills grow quickly.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Use a Metronome</a></h4>
                        <p>Using a metronome will help you to gain timing and eventually assist in picking up your speed. When starting out, try to practice your rolls with a metronome.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Use your Picks</a></h4>
                        <p>If you are planning on learning Scruggs Style Banjo, start using your picks as soon as possible.  It will make life harder at first, but you will pick up speed and skill quickly.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Find an Instructor</a></h4>
                        <p>Finding a local teacher is ideal. Bad habits that can be picked up are hard to shake when self teaching.  Having an instructor at the beginning can help prevent these habits.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Picking a Banjo</a></h4>
                        <p>Any banjo will work for a first banjo. Get used to playing and see if you enjoy it enough to invest in a more expensive instrument.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4><a href="#">Picking Tunes</a></h4>
                        <p>Find music that you either enjoy or are interested in or both!  Having some familiarity with a tune can increase your learning speed.  Also, you will enjoy learning songs that you like!</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    
  


         